#real-alert {
    color: red;
    border: 3px solid red;
}

#test-only {
    color: darkblue;
    border: 3px solid darkblue;
}

.missile-link {
    display: block;
    font-family: "Comic Sans MS";
    margin-bottom: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
