#real-alert {
    color: red;
    border: 3px solid red;
}

#test-only {
    color: darkblue;
    border: 3px solid darkblue;
}

.missile-link {
    display: block;
    font-family: "Comic Sans MS";
    margin: 30px;
    padding: 20px;
    background-color: lightgrey;
    display: inline-block;

}
